<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Dell/IdeaProjects/TestNG-Practice-Project/src/test/java/com/sample">
        <classes>
            <class name="com.sample.PracticeA">
                <methods>
                    <include name="methodA1"/>
                    <include name="methodA2"/>
                    <include name="methodA3"/>
                    <include name="methodA4"/>
                </methods>
            </class>
            <class name="com.sample.PracticeB">
                <methods>
                    <include name="methodB1"/>
                    <include name="methodB2"/>
                    <include name="methodB3"/>
                    <include name="methodB4"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>